body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #b6b6b6;
  box-sizing: border-box;
  padding: 17px;
  background: #dfdfdf;
  margin-bottom: 10px;
}

header a {
  padding: 5px 10px;
  background: #2196f3;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.container {
  padding: 10px 20px;
}

.form_element {
  margin: 20px 0px;
}

.form_element label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 300;
}

input {
  font-size: 20px;
  padding: 8px 12px;
  box-sizing: border-box;
}

button {
  background: #3f51b5;
  color: #fff;
  font-size: 15px;
  padding: 10px 20px;
}

select {
  width: 236px;
  font-size: 15px;
}

.label_error {
  color: #ff5722;
  font-weight: 600;
  margin-top: 10px;
}
